.title {
  margin-top: 70px;
  font-size: 60px;
  margin-left: 14vw;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background: linear-gradient(90deg, #00f0ff 3%, #5773ff 15%, #ff007a 39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 90px;
}
.paragraph {
  color: white;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-left: 14vw;
}
.first_div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 58px;
  margin-left: 12.7vw;
  width: 70%;
}

.div_card {
  background-color: #1f1b42;
  width: 449px;
  height: 374px;
  border-radius: 40px;
  margin-left: 22px;
}

.card {
  position: block;
  margin-left: 50px;
  margin-top: 83px;
}
.border {
  position: relative;
  margin-top: 20px;
}
.border:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 21px;
  right: 0px;
  bottom: 1px;
  border-radius: 40px;
  padding: 2px;
  background: linear-gradient(45deg, #00f0ff, #5773ff, #ff007a);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.card_paragraph {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-left: 50px;
  margin-top: 5px;
}

.div_card {
  background-color: #1f1b42;
  width: 449px;
  height: 374px;
  border-radius: 40px;
  margin-left: 22px;
}

@media only screen and (max-width: 690px) {
  .first_div {
    margin-top: 2vw;
  }
  .div_card {
    width: 66vw;
    height: 48vw;
  }
  .card {
    margin-left: 7vw;
    margin-top: 10vw;
    height: 15vw;
    width: 15vw;
  }
  .card_paragraph {
    font-size: 5vw;
    margin-left: 7vw;
  }
  .title {
    background: linear-gradient(90deg, #00f0ff 20%, #5773ff 40%, #ff007a 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 8vw;
    font-size: 12vw;
    line-height: 20vw;
    text-align: center;
    margin-left: 0;
  }
  .paragraph {
    line-height: 5vw;
    font-size: 3vw;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
  }
}
